[submodule "deps/lib/spdlog"]
	path = deps/lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "deps/lib/msgpack-c"]
	path = deps/lib/msgpack-c
	url = git@github.com:msgpack/msgpack-c.git
[submodule "deps/lib/libzmq"]
	path = deps/lib/libzmq
	url = git@github.com:zeromq/libzmq.git
